:root {
	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
	/* Optimality theme                                                          */
	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

	/* Hack is probably the best monospaced font for programming.
	 * It's based on the Bitstream Vera family of fonts, so we need to make everything else be DejaVu to match it.
	 * Noto is used as a fallback to avoid tofu in a consistent way.  Thankfully, DejaVu supports most of Unicode, so tofu is rare.
	 */
	--font-families-monospace: "Hack", "DejaVu Sans Mono", "Noto Sans Mono", monospace;
	--font-families-sans: "DejaVu Sans", "Noto Sans", sans-serif;
	--font-families-serif: "DejaVu Serif", "Noto Serif", serif; /* NOTE: Unused. */
	--font-familiers-cjk: "Noto Sans", sans-serif; /* DejaVu lacks CJK support, so we skip straight to Noto for that. */

	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
	/* Standard Notes (misc settings)                                            */
	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

	/* Meta */
	--sn-stylekit-theme-type: dark;
	--sn-stylekit-theme-name: sn-dark;

	/* Fonts */
	--sn-stylekit-editor-font-family: var(--font-families-monospace);
	--sn-stylekit-monospace-font: var(--font-families-monospace);
	--sn-stylekit-sans-serif-font: var(--font-families-sans);
	--sn-stylekit-simplified-chinese-font: var(--font-familiers-cjk);

	/* Misc */
	--sn-stylekit-general-border-radius: 50%; /* Rounded borders are less-distracting and easier on the eyes, from what I understand. */

	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
	/* Standard Notes (panel colors)                                             */
	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

	/* Default */
	--sn-stylekit-shadow-color: #c8c8c8;
  	--sn-stylekit-background-color: #ffffff;
	--sn-stylekit-paragraph-text-color: #454545;
	--sn-stylekit-foreground-color: #19191c;
	--sn-stylekit-border-color: #dfe1e4;
	/* Default Contrast */
	--sn-stylekit-contrast-background-color: rgba(244, 245, 247, 1);
	--sn-stylekit-contrast-foreground-color: #2e2e2e;
	--sn-stylekit-contrast-border-color: #e3e3e3;

	/* Secondary */
	--sn-stylekit-secondary-background-color: #eeeff1;
	--sn-stylekit-secondary-foreground-color: #2e2e2e;
	--sn-stylekit-secondary-border-color: #e3e3e3;
	/* Secondary Contrast */
	--sn-stylekit-secondary-contrast-background-color: #e3e3e3;
	--sn-stylekit-secondary-contrast-foreground-color: #2e2e2e;
	--sn-stylekit-secondary-contrast-border-color: #a2a2a2;

	/* Component */
	--sn-component-background-color: var(--background);
	--sn-component-foreground-highlight-color: var(--highlight-color);
	--sn-component-foreground-color: var(--foreground);
	--sn-component-inner-border-color: var(--foreground);
	--sn-component-outer-border-color: var(--comment);

	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
	/* Standard Notes (widget colors)                                            */
	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

	/* Titlebar */
	--sn-desktop-titlebar-bg-color: var(--primary-bg-color);
	--sn-desktop-titlebar-border-color: var(--border-color);
	--sn-desktop-titlebar-ui-color: var(--ui-text-color);
	--sn-desktop-titlebar-ui-hover-color: var(--sn-stylekit-info-color);

	/* Scrollbar */
	--sn-stylekit-scrollbar-thumb-color: #dfdfdf;
	--sn-stylekit-scrollbar-track-border-color: #e7e7e7;

	/* Input */
	--sn-stylekit-input-placeholder-color: #a8a8a8;
	--sn-stylekit-input-border-color: #e3e3e3;

	/* Editor */
	--sn-stylekit-editor-background-color: var(--sn-stylekit-background-color);
	--sn-stylekit-editor-foreground-color: var(--sn-stylekit-foreground-color);

	/* Menus */
	--sn-stylekit-menu-border: 1px solid #434b60;
	--menu-item-sep-color: rgba(0, 0, 0, 0.1);

	/* Misc */
	--footer-bar-border-top-color: 0;
	--navigation-item-selected-background-color: var(--sn-stylekit-background-color);
	--normal-button-background-color: var(--sn-stylekit-passive-color-5);
	--popover-border-color: var(--sn-stylekit-passive-color-3);
	--separator-color: var(--sn-stylekit-passive-color-3);

	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
	/* Standard Notes (special colors)                                           */
	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

	/* Passive */
	--sn-stylekit-passive-color-0: #515357;
	--sn-stylekit-passive-color-1: #72767e;
	--sn-stylekit-passive-color-2: #bbbec4;
	--sn-stylekit-passive-color-3: #dfe1e4;
	--sn-stylekit-passive-color-4: #eeeff1;
	--sn-stylekit-passive-color-4-opacity-variant: #bbbec43d;
	--sn-stylekit-passive-color-5: #f4f5f7;
	--sn-stylekit-passive-color-6: #e5e5e5;
	--sn-stylekit-passive-color-super-light: #f9f9f9;

	/* Accessory */
	--sn-stylekit-accessory-tint-color-1: #086dd6;
	--sn-stylekit-accessory-tint-color-2: #ea6595;
	--sn-stylekit-accessory-tint-color-3: #ebad00;
	--sn-stylekit-accessory-tint-color-4: #7049cf;
	--sn-stylekit-accessory-tint-color-5: #1aa772;
	--sn-stylekit-accessory-tint-color-6: #f28c52;

	/* Info */
	--sn-stylekit-info-color: #086dd6;
	--sn-stylekit-info-color-darkened: #065cb5;
	--sn-stylekit-info-contrast-color: #ffffff;
	--sn-stylekit-info-backdrop-color: #2b6fcf0f;

	/* Success */
	--sn-stylekit-success-color: #007662;
	--sn-stylekit-success-contrast-color: #ffffff;

	/* Neutral */
	--sn-stylekit-neutral-color: #72767e;
	--sn-stylekit-neutral-contrast-color: #ffffff;

	/* Warning */
	--sn-stylekit-warning-color: #ebad00;
	--sn-stylekit-warning-contrast-color: #ffffff;

	/* Danger */
	--sn-stylekit-danger-color: #cc2128;
	--sn-stylekit-danger-contrast-color: #ffffff;
	--sn-stylekit-danger-light-color: #f9e4e5;
}
