:root {
	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
	/* Optimality (foregrounds)                                                  */
	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

	/* Bases */
	--opt-fg-1: #ffffff;
	--opt-fg-2: #e6e6e6;
	--opt-fg-3: #cfcfcf;
	--opt-fg-4: #bababa;
	--opt-fg-5: #a6a6a6;

	/* Active */
	--opt-fg-active-1: var(--opt-fg-1);
	--opt-fg-active-2: var(--opt-fg-1);
	--opt-fg-active-3: var(--opt-fg-2);
	--opt-fg-active-4: var(--opt-fg-3);

	/* Normal */
	--opt-fg-normal-1: var(--opt-fg-1);
	--opt-fg-normal-2: var(--opt-fg-2);
	--opt-fg-normal-3: var(--opt-fg-3);
	--opt-fg-normal-4: var(--opt-fg-4);

	/* Inactive */
	--opt-fg-inactive-1: var(--opt-fg-2);
	--opt-fg-inactive-2: var(--opt-fg-3);
	--opt-fg-inactive-3: var(--opt-fg-4);
	--opt-fg-inactive-4: var(--opt-fg-5);

	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
	/* Optimality (backgrounds)                                                  */
	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

	/* Normal */
	--opt-bg-normal-1: #777777;
	--opt-bg-normal-2: #676767;
	--opt-bg-normal-3: #595959;
	--opt-bg-normal-4: #4b4b4b;

	/* Alternate */
	--opt-bg-alt-1: #6f6f6f;
	--opt-bg-alt-2: #5f5f5f;
	--opt-bg-alt-3: #515151;
	--opt-bg-alt-4: #3d3d3d;

	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
	/* Optimality (hues)                                                         */
	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

	/* Foreground (light) */
	--opt-fg-normal-2-hue-000: #ffdfdf;

	/* Foreground (mid) */
	--opt-fg-normal-3-hue-000: #ff9595; /* TODO */
	--opt-fg-normal-3-hue-045: #ffcb8a; /* TODO */
	--opt-fg-normal-3-hue-090: #94ff8a; /* TODO */
	--opt-fg-normal-3-hue-210: #95beff; /* TODO */
	--opt-fg-normal-3-hue-270: #ada5ff; /* TODO */

	/* Foreground (dark) */
	--opt-fg-normal-4-hue-000: #ff9595; /* TODO */
	--opt-fg-normal-4-hue-030: #ffcb8a; /* TODO */
	--opt-fg-normal-4-hue-060: #ffcb8a; /* TODO */
	--opt-fg-normal-4-hue-120: #94ff8a; /* TODO */
	--opt-fg-normal-4-hue-210: #95beff; /* TODO */
	--opt-fg-normal-4-hue-270: #ada5ff; /* TODO */

	/* Background (mid) */
	--opt-bg-normal-3-hue-0: var(--opt-bg-normal-3); /* TODO */
	--opt-bg-normal-3-hue-45: var(--opt-bg-normal-3); /* TODO */
	--opt-bg-normal-3-hue-90: var(--opt-bg-normal-3); /* TODO */
	--opt-bg-normal-3-hue-210: var(--opt-bg-normal-3); /* TODO */

	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
	/* Optimality (misc)                                                         */
	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

	/* Hack is probably the best monospaced font for programming.
	 * It's based on the Bitstream Vera family of fonts, so we need to make everything else be DejaVu to match it.
	 * Noto is used as a fallback to avoid tofu in a consistent way.  Thankfully, DejaVu supports most of Unicode, so tofu is rare.
	 */
	--font-families-monospace: "Hack", "DejaVu Sans Mono", "Noto Sans Mono", monospace;
	--font-families-sans: "DejaVu Sans", "Noto Sans", sans-serif;
	--font-families-serif: "DejaVu Serif", "Noto Serif", serif; /* NOTE: Unused. */
	--font-familiers-cjk: "Noto Sans", sans-serif; /* DejaVu lacks CJK support, so we skip straight to Noto for that. */

	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
	/* Standard Notes (misc settings)                                            */
	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

	/* Meta */
	--sn-stylekit-theme-type: dark;
	--sn-stylekit-theme-name: sn-dark;

	/* Fonts */
	--sn-stylekit-editor-font-family: var(--font-families-monospace);
	--sn-stylekit-monospace-font: var(--font-families-monospace);
	--sn-stylekit-sans-serif-font: var(--font-families-sans);
	--sn-stylekit-simplified-chinese-font: var(--font-familiers-cjk);

	/* Misc */
	--sn-stylekit-general-border-radius: 50%; /* Rounded borders are less-distracting and easier on the eyes, from what I understand. */

	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
	/* Standard Notes (panel colors)                                             */
	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

	/* Default */
	--sn-stylekit-shadow-color: #565656; /* TODO: Variablize "hover" colors. */
  	--sn-stylekit-background-color: var(--opt-bg-normal-4);
	--sn-stylekit-paragraph-text-color: var(--opt-fg-inactive-4);
	--sn-stylekit-foreground-color:  var(--opt-fg-normal-4);
	--sn-stylekit-border-color: var(--opt-fg-inactive-4);
	/* Default Contrast */
	--sn-stylekit-contrast-background-color: var(--opt-bg-alt-4);
	--sn-stylekit-contrast-foreground-color: var(--opt-fg-normal-4);
	--sn-stylekit-contrast-border-color: var(--opt-fg-inactive-4);

	/* Secondary */
	--sn-stylekit-secondary-background-color: var(--opt-bg-normal-2);
	--sn-stylekit-secondary-foreground-color: var(--opt-fg-normal-2);
	--sn-stylekit-secondary-border-color: var(--opt-fg-inactive-2);
	/* Secondary Contrast */
	--sn-stylekit-secondary-contrast-background-color: var(--opt-bg-alt-2);
	--sn-stylekit-secondary-contrast-foreground-color: var(--opt-fg-normal-2);
	--sn-stylekit-secondary-contrast-border-color: var(--opt-fg-inactive-2);

	/* Component */
	--sn-component-background-color: var(--opt-bg-normal-3);
	--sn-component-foreground-highlight-color: #777777; /* TODO: Variablize "highlight" colors. */
	--sn-component-foreground-color: var(--opt-fg-normal-3);
	--sn-component-inner-border-color: var(--opt-fg-inactive-3);
	--sn-component-outer-border-color: #656565; /* TODO: Variablize "hover" colors. */

	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
	/* Standard Notes (widget colors)                                            */
	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

	/* Titlebar */
	--sn-desktop-titlebar-bg-color: var(--primary-bg-color);
	--sn-desktop-titlebar-border-color: var(--border-color);
	--sn-desktop-titlebar-ui-color: var(--ui-text-color);
	--sn-desktop-titlebar-ui-hover-color: var(--sn-stylekit-info-color);

	/* Scrollbar */
	--sn-stylekit-scrollbar-thumb-color: var(--opt-bg-inactive-3);
	--sn-stylekit-scrollbar-track-border-color: var(--opt-fg-inactive-3);

	/* Input */
	--sn-stylekit-input-placeholder-color: var(--opt-fg-inactive-2);
	--sn-stylekit-input-border-color: var(--opt-fg-inactive-2);

	/* Editor */
	--sn-stylekit-editor-background-color: var(--opt-bg-normal-2);
	--sn-stylekit-editor-foreground-color: var(--opt-fg-normal-2);

	/* Menus */
	--sn-stylekit-menu-border: 1px solid var(--opt-fg-inactive-3);
	--menu-item-sep-color: var(--opt-fg-inactive-3);

	/* Misc */
	--footer-bar-border-top-color: 0;
	--navigation-item-selected-background-color: var(--sn-stylekit-background-color);
	--normal-button-background-color: var(--sn-stylekit-passive-color-5);
	--popover-border-color: var(--sn-stylekit-passive-color-3);
	--separator-color: var(--sn-stylekit-passive-color-3);

	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
	/* Standard Notes (special colors)                                           */
	/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

	/* Passive */
	/* TODO: Do I need to invert these? */
	--sn-stylekit-passive-color-0: #747474;
	--sn-stylekit-passive-color-1: #848484;
	--sn-stylekit-passive-color-2: #959595; --sn-stylekit-passive-color-4-opacity-variant: #9595953d;
	--sn-stylekit-passive-color-3: var(--opt-fg-5);
	--sn-stylekit-passive-color-4: var(--opt-fg-4);
	--sn-stylekit-passive-color-5: var(--opt-fg-3);
	--sn-stylekit-passive-color-6: var(--opt-fg-2);
	--sn-stylekit-passive-color-super-light: var(--opt-fg-1);

	/* Accessory */
	--sn-stylekit-accessory-tint-hue-1: var(--opt-fg-normal-4-hue-210);
	--sn-stylekit-accessory-tint-hue-2: var(--opt-fg-normal-4-hue-000);
	--sn-stylekit-accessory-tint-hue-3: var(--opt-fg-normal-4-hue-060);
	--sn-stylekit-accessory-tint-hue-4: var(--opt-fg-normal-4-hue-270);
	--sn-stylekit-accessory-tint-hue-5: var(--opt-fg-normal-4-hue-120);
	--sn-stylekit-accessory-tint-hue-6: var(--opt-fg-normal-4-hue-030);

	/* Info */
	--sn-stylekit-info-color: var(--opt-fg-normal-3-hue-210);
	--sn-stylekit-info-colorened: var(--opt-fg-normal-4-hue-210); /* TODO: Is this variable correct for a dark theme, or should it be "lightened" instead? */
	--sn-stylekit-info-contrast-color: var(--opt-bg-normal-3-hue-210);
	--sn-stylekit-info-backdrop-color: var(--opt-bg-normal-4-hue-210);

	/* Success */
	--sn-stylekit-success-color: var(--opt-fg-normal-3-hue-090);
	--sn-stylekit-success-contrast-color: var(--opt-bg-normal-3-hue-090);

	/* Neutral */
	--sn-stylekit-neutral-color: var(--opt-fg-normal-3);
	--sn-stylekit-neutral-contrast-color: var(--opt-bg-normal-3);

	/* Warning */
	--sn-stylekit-warning-color: var(--opt-fg-normal-3-hue-045);
	--sn-stylekit-warning-contrast-color: var(--opt-bg-normal-3-hue-045);

	/* Danger */
	--sn-stylekit-danger-light-color: var(--opt-fg-normal-2-hue-000); /* TODO: Should I make this different from the standard danger color? */
	--sn-stylekit-danger-color: var(--opt-fg-normal-3-hue-000);
	--sn-stylekit-danger-contrast-color: var(--opt-bg-normal-3-hue-000);
}
